@import "reset.css";
@import "../icons/style.css";
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

body {
  background-color: gray;
  margin: 0 auto;
  width: 90%;
}
nav {
  margin: 33px 0;
  background-color: #252527;
  color: white;
}
nav a {
  color: white;
}
nav ul {
  display: flex;
  justify-content: space-between;
}
nav ul li {
  margin: 0;
}
nav ul li a {
  width: 100%;
  padding: 0 14px;
  text-transform: uppercase;
  font-family: "Bebas Neue", cursive;
  font-size: 20px;
  text-decoration: none;
}
.logostart {
  margin-left: auto;
}

.logostart a {
  padding: 3px;
}
