@import "reset.css";
@import "../icons/style.css";
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

body {
  background-color: gray;
}
nav {
  margin: 33px;
  background-color: #252527;
  color: white;
}
nav a {
  color: white;
}
nav ul {
  display: flex;
  flex-direction: row;
}
nav ul li {
  text-transform: uppercase;
  font-family: "Bebas Neue", cursive;
}
nav ul li a {
  width: 100%;
}
